.box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-container > .my-navbar {
  justify-content: flex-start;
  background-color: black;
  width:100%;
  height:50px;

  & > .navbar-item{
    background-color: black;
    color:white;
    padding: 15px;
    font-size: 12pt;
    width:auto;
    height:50px;
    float: left;

  }

  .navbar-item:hover{
    background-color: red;

    .more {
      display: block;
    }
  }

}

.navbar-item > .more{
  display: none;
  position:absolute;
  width:150px;
  height:25px;
  margin-top: 12.5px;
  margin-left: -17px;
  text-align: center;
}
.more>.item{
  background-color: black;
  padding:10px;
}

.item:hover{
 background-color: red;
}


.slider{
  position:static;
  background-color: pink;
  width:100%;
  height:90%;
  margin-bottom:5%;
  img{
    width:100%;
    height:100%;
  }

  .slider-title{
    position: absolute;
    color:white;
    left: 2%;
    bottom:10%;
    font-size:15pt;

  }
  .slider-description{
    position: absolute;
    color:white;
    left: 2%;
    bottom:5%;

  }
}

.window.window-3{
  
}



.box-container > div{
  width: 700px;
  text-align: center;

  & > .desc-title{
    font-size:24pt;
    color: black;
  }
  & > .desc-bottom-title{
    font-size:14pt;
    color: grey;
    padding-top:2%;
  }
  & > .description{
    font-size:12pt;
    text-align: justify;
      padding-top:2%;
  }

}

.box-container > .photos{
  width:auto;
  margin-top:5%;
  margin-bottom:10%;
  text-align: center;

  & > .photo-name{
    margin-top: 5%;
    text-align: center;
  }
  & > img{
    margin-top: 5%;
    width: 95%;
    margin-bottom:10%;
  }

}

.box-container > .tour-box {
  width:100%;
  height: auto;
  text-align: center;
  background-color: black;

  & > .tour-title{
    margin-top: 5%;
    font-size:24pt;
    color: white;
  }
  & > .tour-bottom-title{
    font-size:14pt;
    color: grey;
    padding-top:2%;
  }

  & > .month-list{
    margin:2% auto;
    width: 50%;
    list-style-type: none;
    ul{
     li{
        color:grey;
        background-color: white;
        line-height: 50px;
        border-bottom: 1px solid grey;
        text-align: left;
        padding-left:2%;

        span{
            width:100px;
            padding:1%;
            margin-left: 2%;
            background-color: #f44336;
            color:white;
            height: 50px;
        }
        .miktar{
          float:right;
          width: 27px;
          height: 27px;
          line-height:12px;
          text-align: center;
          border-radius: 30px;
          background-color: black;
          color: white;
        }
      }
    }

  }

   & > .ticket-block{
      background-color: black;
      color:black;
      height: auto;
      width: 60%;
      margin:5% auto;
      margin-bottom:5%;

      & > .left-box, .mid-box , .right-box{

        width:32%;
        float: left;
        img{
              height:20%;
              width:100%;
              &:hover{
                opacity: 0.5;
              }
          }


        & > .ticket-desc{
        background-color: white;
        height:auto;
        padding: 5%;
        text-align: left;
        font-size: 13pt;
        font-weight: 200;

        .ticket-date{
           color:grey;
           padding-top: 5%;
           padding-bottom: 7%;
           font-size:12pt;

        }
         .ticket-text{
          font-size: 12pt;
          font-weight: normal;
        }
        button{
          margin-top: 8%;
          margin-bottom: 5%;
          background-color:black;
          color:white;
          width:auto;
          height:40px;
          &:hover{
            background-color: #ccc;
            color:black;
          }
        }

      }

      }

      .left-box{

      }
      .mid-box{
        margin-left:2%;
        margin-right: 2%;

      }
       .right-box{

      }

  }

}

.box-container > .contact-block {
  width: 100%;
  height: auto;
  background-color: white;

  & > .contact{
    width: 50%;
    margin:5% auto;
    text-align: center;


    & > .contact-title{
      font-size: 20pt;
    }
    & > .contact-note{
      margin-top: 2%;
      font-size: 15pt;
      color:#ccc;
      font-style: italic;
    }

    & > .contact-info{
      width:50%;
      margin-top: 2%;
      font-size:13pt;
      font-weight: 100;
      color:black;
      float: left;
      text-align: justify;
    }

    & > .contact-message{
      width:50%;
      margin-top: 2%;
      float: right;
      text-align: justify;

      .name-input{
        width: 49%;
        height: 10%;
      }
      .email-input{
        width: 49%;
        height: 10%;
      }
      .message-input{
        width: 100%;
        margin-top: 2%;
        height: 10%;

      }
      .submit-input{
        float: right;
        margin-top: 4%;
        width: auto;
        padding: 2% 5%;
        background-color: black;
        color:white;
        margin-bottom:30%;

      }

    }

  }


}

.box-container > .footer-block{
  width: 100%;
  background-color:#ccc;
  text-align: center;
  height: 30%;
  margin-top: 5%;
  padding:100px;
  color: grey;
}


@media (max-width: 600px) {
  .box-container > div > .description{
    padding-left:3%;
    padding-right:3%;

  }

  .box-container > .tour-box{
    height:100%;
  }
  .box-container > .tour-box > .month-list{
    width:90%;
  }
  .box-container > .tour-box > .ticket-block{
    width:90%;
     .left-box,.mid-box, .right-box{
       width: 100%;
       margin-top:5%;
       float: none;
     }
     .mid-box{
       margin-left:0;
       margin-right:0;
     }
     .right-box{
       margin-bottom: 5%;
     }
  }

  .box-container > .contact-block {
    width: 100%;
    float: none;
  }

  .box-container > .contact-block > .contact > .contact-info{
    margin-top: 10%;
    width: 100%;
    float: none;
  }
  .box-container > .contact-block > .contact > .contact-message{
    width: 100%;
  }

  .box-container > .my-navbar > .navbar-item{


  }


}
